@import 'reset';
@import 'mixin';

// GRID LAYOUT

.layout-grid{
   display: grid;
   grid-gap: 20px;

   grid-template-areas: 
      "menu header header"
      "menu graphics graphics"
      "menu card card";

   grid-template-columns: 350px 1fr;
   grid-template-rows: 120px auto 200px;
}

.item{
   // border: 1px solid red;
}

.menu{
   grid-area: menu;
   display: grid;
   
   display: flex;
   flex-direction: column;
   align-items: center;


   a{
      font-size: 2.5em;
      color: #D478FF;
      margin-top: 30px;
   }

   ul{
      margin-top: 100px;
   }

   li+li{
      margin-top: 40px;
   }

   i{
      margin-right: 10px;
   }
}

.menu li a{
   font-size: 1.6em;
   color: rgb(163, 163, 163);
   font-weight: 300;
   padding: 15px 30px;
   display: block;
}

.actived{
   box-shadow: inset 2px 2px 6px #ccc,
   inset -5px -5px 6px white;
   border-radius: 20px;

   a{
      font-weight: 500!important;
      color: rgb(83, 86, 90)!important;
   }
}

// HEADER

.header{   
   display: flex;
   align-items: center;
   grid-area: header; 
}

.header-flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.perfil{
   display: flex;
   align-items: center;

   .circle-1{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #ccc;
   }

   .circle-2{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #ccc;
      margin-left: 30px; 
   }

   .photo{
      img{
         width: 65px;
         height: 70px;    
         border-radius: 20px;    
         margin-left: 30px; 
         cursor: pointer;
      }
   }
}

// GRAPHICS

.graphics{
   grid-area: graphics;
   display: flex;
   align-items: center;
}

.graphics-flex{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 40px;

   grid-template-areas: 
   "box1 box2 circle"
   "box3 box4 bar";
}

.box1{
   grid-area: box1;
   @include boxShadow;
   
}

.box2{
   grid-area: box2;
   @include boxShadow;
}

.box3{
   grid-area: box3;
   @include boxShadow;
}

.box4{
   grid-area: box4;
   @include boxShadow;
}

.graphic-circle{
   grid-area: circle;
   @include boxShadow;
   @include graphicStyle;
}

.graphic-bar{
   grid-area: bar;
   @include boxShadow;
   @include graphicStyle;
}

// CARD

.card-info{
   grid-area: card;
   display: flex;
   align-items: center;
   @include boxShadow;
}

.card-flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: justify;
   gap: 100px;
}

.card{
   padding: 20px;
   border: 1px solid #ccc;
   h3{
      color: #D478FF;
      font-weight: 500;
      padding-bottom: 15px 0;
   }
}





