@import 'reset';
@import 'mixin';
@import 'color';


// GRID LAYOUT

.layout-grid{
   display: grid;

   grid-template-areas: 
      "menu header header header"
      "menu graphics graphics graphics";

      grid-template-columns: 350px 1fr 1fr auto;
      grid-template-rows: 120px auto;
}

.menu{
   grid-area: menu;
   display: grid;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   border-right: 1px solid #ccc;


   a{
      font-size: 2.5em;
      color: #D478FF;
      margin-top: 30px;
   }

   ul{
      margin-top: 100px;
   }

   li+li{
      margin-top: 40px;
   }

   i{
      margin-right: 10px;
   }
}

.menu li a{
   font-size: 1.3em;
   color: rgb(163, 163, 163);
   font-weight: 300;
   padding: 15px 30px;
   display: block;
}

.actived{
   @include boxShadow;
   border-radius: 10px;

   a{
      font-weight: 500!important;
      color: rgb(83, 86, 90)!important;
   }
}

.dark-theme{
   i{
      @include buttonStyle1;
   }   
}

// HEADER

.header{   
   display: flex;
   align-items: center;
   grid-area: header; 
}

.header-flex{
   @include displayFlex;
}

.input-section{
   position: relative;

   input{
      width: 350px;
      padding: 15px;
      border-radius: 20px;
      border: 0;
      font-family: 'poppins', 'sans-serif';
      @include boxShadow;
   }

   button{
      border-radius: 10px;
      width: 50px;
      padding: 15px 0;
      position: absolute;
      right: 2px;
      top: 2px;
      border: 0;
      cursor: pointer;
      color: #D478FF;
      font-weight: bold;

      background-color: #F1F2F6;
      box-shadow:  2px 2px 6px #ccc,
       -3px -5px 6px white;
   }
}

.perfil{
   display: flex;
   align-items: center;

   .circle-1{
      @include buttonStyle1;
   }

   .circle-2{
      @include buttonStyle1;
   }

   .photo{
      img{
         width: 65px;
         height: 70px;    
         border-radius: 20px;    
         margin-left: 30px; 
         cursor: pointer;

         background-color: #F1F2F6;
         box-shadow:  2px 2px 6px #ccc,
         -3px -5px 6px white;
      }
   }

   .logout{
      margin-left: 20px;
      a{
         color: #D478FF;
      }
   }
}

// GRAPHICS

.graphics{
   grid-area: graphics;
   display: flex;
   align-items: center;
}

.graphics-grid{
   display: grid;

   grid-template-areas: 
   "box1 box2 circle"
   "box3 box4 bar"
   "card-1 card-1 card-2"
   "card-1 card-1 card-2"
   "card-3 card-3 card-3";

   grid-gap: 20px;
}

.box1{
   grid-area: box1;
   @include boxShadow;
  @include boxWidth;
}

.box2{
   grid-area: box2;
   @include boxShadow;
   @include boxWidth;
}

.box3{
   grid-area: box3;
   @include boxShadow;
   @include boxWidth;
}

.box4{
   grid-area: box4;
   @include boxShadow;
   @include boxWidth;
}

.graphic-circle{
   grid-area: circle;
   @include boxShadow;
   width: 620px;  
   padding: 20px;
}

.graphic-bar{
   grid-area: bar;
   @include boxShadow;
   width: 620px;  
   padding: 20px;
}

// CARD

.card-1{
   grid-area: card-1;
   padding: 20px;
   border-radius: 10px;
   @include displayFlex;
   @include boxShadow;

   h3{
      color: #D478FF;
      font-weight: 500;
      padding-bottom: 15px 0;
   }

   .card-text{
      max-width: 250px;
   }

   .icon{
      margin-left: 30px;
      padding: 15px 20px;
      @include buttonStyle2;
      cursor: pointer;
   }
}

.card-2{
   grid-area: card-2;
   padding: 20px;
   border-radius: 10px;
   @include displayFlex;
   @include boxShadow;

   h3{
      color: #D478FF;
      font-weight: 500;
      padding-bottom: 15px 0;
   }

   .card-text{
      max-width: 250px;
   }

   .icon{
      margin-left: 30px;
      padding: 15px 20px;
      @include buttonStyle2;
      cursor: pointer;
   }
}

.card-3{
   grid-area: card-3;
   padding: 20px;
   border-radius: 10px;
   @include displayFlex;
   @include boxShadow;
   margin-bottom: 20px;

   h3{
      color: #D478FF;
      font-weight: 500;
      padding-bottom: 15px 0;
   }

   .card-text{
      max-width: 250px;
   }

   .icon{
      margin-left: 30px;
      padding: 15px 20px;
      @include buttonStyle2;
      cursor: pointer;
   }
}





